{% extends 'base.html' %}
{%  block title %} Amazon Price Comparison {% endblock %}
{% block content %}
<div class="container">

    <h1 class="mt-5">Price Comparison</h1>
    <h5 class="text-muted">Amazon</h5>
    <form action="/crawler" method="POST" class="mt-5" id="url_form">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label for="url" class="sr-only">URL</label>
                    <input
                            class="form-control"
                            type="text"
                            name="url"
                            id="url"
                            placeholder="Input product URL or ASIN"
                    />


                </div>
            </div>
            <div class="col-2">
                <input class="btn btn-primary" id="getPriceSubmitBtn" type="submit" value="Get Data"/>
            </div>
        </div>

        {% if message %}
        <div class="invalid-feedback d-block pl-3">
            {{ message | safe }}
        </div>
        {% endif %}

    </form>
</div>

{% if table_data %}
{% if table_data is mapping %}
<div class="bg-light">
    <div class="container">
        <div class="row mt-4 py-5">
            <div class="col-12">
                <h4>{{table_data["description"]}}</h4>
            </div>
            <div class="col-12">
                <h5 class="text-secondary">{{table_data["code"]}}</h5>
            </div>
            <div class="col-3">
                <h6>Ratings: {{table_data["product_rating"]}}</h6>
            </div>
            <div class="col-3">
                <h6>{{table_data["webpage"]}}</h6>
            </div>
            <div class="col-3">
                <h6>Currency: AED</h6>
            </div>
            <div class="col-3">
                <h6>Search Date: {{table_data["date"]}}</h6>
            </div>
            <div class="col-12 mt-3">
                <p class="text-muted">Search Result/s: {{table_data["number_of_results"]}}</p>
            </div>

        </div>
    </div>

</div>

<div class="container">
    {% if table_data["error"] %}
    <h5 class="mt-5">{{ table_data["error"]}}</h5>
    {% else %}
    <table class="table table-bordered table-hover mt-5" style="font-size: 0.8rem;">
        <thead>
        <tr>
            <th>Seller</th>
            <th>Price</th>
            <th>Shipped By</th>
            <th>Delivery</th>
            <th>Ratings</th>
            <th>Int'l. Shipment</th>
        </tr>
        </thead>
        <tbody>
        {% for data in table_data["data"] %}
        <tr>
            <td>{{data["seller"]}}</td>
            <td>{{data["price"]}}</td>
            <td>{{data["shipped_by"]}}</td>
            <td>{{data["delivery"]}}</td>
            <td>{{data["ratings"]}}</td>
            <td>{{data["import"]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}

     <p class="text-muted mt-5">Product URL Link: <a href="{{table_data['product_url_link']}}">{{table_data["product_url_link"]}}</a></p>
</div>

{% endif %}
{% endif %}

{% endblock %}
