<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" type="image/jpg" href="../static/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Amazon Price Comparison</title>
</head>
<body style="font-size: 0.89rem;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Alrais Trading</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Price Comparison <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('rustoleum_batch_code') }}">Rustoleum Batch Code</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container">

    <h1 class="mt-5">Price Comparison</h1>
    <h5 class="text-muted">Amazon</h5>
    <form action="/crawler" method="POST" class="mt-5" id="url_form">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label for="url" class="sr-only">URL</label>
                    <input
                            class="form-control"
                            type="text"
                            name="url"
                            id="url"
                            placeholder="Input product URL or ASIN"
                    />


                </div>
            </div>
            <div class="col-2">
                <input class="btn btn-primary" id="getPriceSubmitBtn" type="submit" value="Get Data"/>
            </div>
        </div>

        {% if message %}
        <div class="invalid-feedback d-block pl-3">
            {{ message | safe }}
        </div>
        {% endif %}

    </form>
</div>

{% if table_data %}
{% if table_data is mapping %}
<div class="bg-light">
    <div class="container">
        <div class="row mt-4 py-5">
            <div class="col-12">
                <h4>{{table_data["description"]}}</h4>
            </div>
            <div class="col-12">
                <h5 class="text-secondary">{{table_data["code"]}}</h5>
            </div>
            <div class="col-3">
                <h6>Ratings: {{table_data["product_rating"]}}</h6>
            </div>
            <div class="col-3">
                <h6>{{table_data["webpage"]}}</h6>
            </div>
            <div class="col-3">
                <h6>Currency: AED</h6>
            </div>
            <div class="col-3">
                <h6>Search Date: {{table_data["date"]}}</h6>
            </div>
            <div class="col-12 mt-3">
                <p class="text-muted">Search Result/s: {{table_data["number_of_results"]}}</p>
            </div>

        </div>
    </div>

</div>

<div class="container">
    {% if table_data["error"] %}
    <h5 class="mt-5">{{ table_data["error"]}}</h5>
    {% else %}
    <table class="table table-bordered table-hover mt-5" style="font-size: 0.8rem;">
        <thead>
        <tr>
            <th>Seller</th>
            <th>Price</th>
            <th>Shipped By</th>
            <th>Delivery</th>
            <th>Ratings</th>
            <th>Int'l. Shipment</th>
        </tr>
        </thead>
        <tbody>
        {% for data in table_data["data"] %}
        <tr>
            <td>{{data["seller"]}}</td>
            <td>{{data["price"]}}</td>
            <td>{{data["shipped_by"]}}</td>
            <td>{{data["delivery"]}}</td>
            <td>{{data["ratings"]}}</td>
            <td>{{data["import"]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}

     <p class="text-muted mt-5">Product URL Link: <a href="{{table_data['product_url_link']}}">{{table_data["product_url_link"]}}</a></p>
</div>

{% endif %}
{% endif %}

<!--<footer class="bg-light" style="position: absolute; bottom: 0; width: 100%; height: 60px; line-height: 60px;">-->
<!--    <div class="container">-->
<!--        <p class="text-muted text-center small">All rights reserved 2021. Developed and maintained by Alrais IT Department</p>-->
<!--    </div>-->
<!--</footer>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="../static/main.js"></script>
</body>
</html>