{% extends 'base.html' %}
{% block title %} Rustoleum Batch Code {% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Rustoleum</h1>
    <h5 class="text-muted">Batch code</h5>

    <form action="/compute-batch-code" method="POST" class="mt-5" id="url_form">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label for="batchCode" class="sr-only">Batch Codes</label>
                    <input
                            class="form-control"
                            type="text"
                            name="batchCode"
                            id="batchCode"
                            placeholder="Input batch codes"
                    />


                </div>
            </div>
            <div class="col-2">
                <input class="btn btn-primary" id="batchConvertSubmitBtn" type="submit" value="Convert"/>
            </div>
        </div>

        {% if message %}
        <div class="invalid-feedback d-block pl-3">
            {{ message | safe }}
        </div>
        {% endif %}

    </form>
     <p class="text-muted my-5">This is a batch code conversion program for Rustoleum products (e.g J0126L ->
            2020-01-26 12:01:00).</p>
</div>

{% if batch_codes %}

<div class="container">
    {% if batch_codes["error"] %}
    <h5 class="mt-5">{{ batch_codes["error"]}}</h5>
    {% else %}
    <table class="table table-bordered table-hover mt-5" style="font-size: 0.8rem;">
        <thead>
        <tr>
            <th>sq no.</th>
            <th>Batch Code</th>
            <th>Manufacturing Date</th>
        </tr>
        </thead>
        <tbody>
        {% for data in batch_codes %}
        <tr>
            <td>{{data["index"]}}</td>
            <td>{{data["batch_code"]}}</td>
            <td>{{data["mfg"]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endif %}

{% endblock %}
